body, html {
	margin: 0;
	padding: 0 !important;
	font-family: Arial;
	height: 100%;
    width: 100%;
	font-family: 'Cabin Condensed', 'sans-serif' !important;
}
h3 {
	margin-top: 0 !important;
}
#top {
	width: 100%;
	height: 40px;
	background: #000;
	color: #a8a8a8;
	position: fixed;
}
#top .content {
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 40px;
}
#top .content a {
	color: #fff;
	text-decoration: none;
}
.background {
	background: url("../img/blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	padding-top: 130px;
	padding-bottom: 90px;
	height: 100%;
}
.champions_finished {
	margin: 0;
	padding: 0;
}
.champions_finished li {
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
}
.game_kda {
	font-size: 12px;
	font-weight: bold;
}
.quest_avatar {
	margin-right: 5px;
	margin-bottom: 5px;
}
a.cancel, a.cancel:hover {
	color: red;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



.fullwidth_box {
	width: 100%;
	background: #fff;
}
.fullwidth_box_grey {
	width: 100%;
	background: #f7f7f9;
	padding-bottom: 40px;
	border-bottom: 1px solid #e1e1e8;
}
.landingpage_teaser {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	width: 560px;
	line-height: 26px;
	text-shadow: 1px 1px 8px #000000;
	padding-bottom: 50px;
}
.logo {
	margin-right: 40px;
}
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
.logo {
	float: left;
	color: #fff;
	height: 50px;
	line-height: 50px;
}
.list {
	float: right;
	height: 50px;
	line-height: 50px;
}
.list ul {
	margin: 0;
	padding: 0;
}
.list ul li {
	float: right;
	list-style: none;
	color: #333;
	height:48px;
	line-height: 48px;
	border-left: 1px solid #b9b9b9;
	text-align: center;
}
.list ul li a .glyphicon {
	margin-top: 16px;
}
.list ul li:first-child {
	border-right: 1px solid #b9b9b9;
}
.list ul li a {
	height:48px;
	padding: 0 15px 0 15px;
	display: block;
	width: 100%;
	color: #333;
}
.list ul li a:hover {
	background: #eeeeee;
	text-decoration: none;
}
.sidebar {
	background: #fff;
	border-left: 1px solid #eeeeee;
	color: #000;
}
.sidebar a {
	text-decoration: none;
	color: #428bca;
}
.logged_in {
	margin-top: 20px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
.sidebar_input {
	background: #565656;
	color: #333;
	border: 1px solid #000;
	width: 350px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	margin-top: 10px;
	font-size: 14px;
}
.sidebar_button {
	margin-top: 10px;
	background: #eeeeee;
	color: #333;
	border: 1px solid #000;	
}
.search_field {
	float: left;
}
.search_summoner_name {
	width: 200px !important;
}
.title h1 {
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
	text-shadow: 1px 1px 8px #000000;
}
.change_avatar {
	font-size: 12px;
}
a.logout {
	color: red;
}
.bullets {
	margin-top: 50px;
	margin-bottom: 50px;
}
.avatar, .name {
	float: left;
}
.avatar {
	margin-right: 5px;
	padding-top: 16px;
}
.quests {
	color: #428bca !important;
	font-weight: bold !important;
}
.bullet {
	text-align: center;
}
.clear {
	clear: both;
}
.register_form {
	margin-top: -270px;
	background: #fff;
	border: 1px solid #e1e1e8;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.register_form input, .register_form select {
	margin-bottom: 10px;
}
.hexa_logo, .hexa_text {
	float: left;
	
}
.hexa_logo, .hexa_text .title {
	-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.75));
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.75));
}
.hexa_text {
	margin-top: 15px;
	margin-left: 25px;
}
.unread_notifications {
	position: absolute;
	background: #428bca;
	height: 15px;
	line-height: 15px;
	width: 15px;
	margin-left: 10px;
	margin-top: 8px;
	color: #fff;
	text-align: center;
	top: 0;
	left: 0;
	font-size: 10px;
}
.list ul li:hover ul {
	display: block;
	position: absolute;
}
.list ul li:hover ul li {
	clear: both;
}
.list ul li:hover ul li:hover {
	background: #eeeeee;
}
.notifications_list {
	display: none;
	backgrond: #fff;
}
.notifications_list li {
	width: 250px;
	border: 0 !important;
	border-bottom: 1px solid #b9b9b9 !important;
	height: auto !important;
	text-align: left !important;
	line-height: 16px !important;
	font-size: 12px !important;
	background: #fff !important;
}
.questtext {
	height: 50px;
}
.quest {
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
	height: 360px;
	margin-bottom: 10px;
}
.daily_quest {
	background: #e4f2ff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.daily_reward {
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
}
.accept_daily {
	text-align: right;
}
.product {
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}
.product_description {
	height: 80px;
}
.quest:hover {
}
.inactive_quest_slot {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.myquests {

}
.quest_amount {
	margin-bottom: 20px;
}
.maxquests {
	padding-top: 140px;
}
.navigation_natifications {
	position: relative;
}
.quest_select_champion {
	width: 100%;
	margin-bottom: 15px;
}
.sidebar_questtext {
	font-size: 11px;
}
.sidebar_questlist {
	width: 100%;
}
.sidebar_questlist tr td {
	border-bottom: 1px solid #eeeeee;
	padding-top: 5px;
	padding-bottom: 5px;
}
.view_ladder {
	width: 100%;
	text-align: right;
}




 
/* Themes for different contexts */
.bs-callout-danger {
	background-color: #f6b2b0;
	border-color: #d9534f;
}
.bs-callout-warning {
	background-color: #fff9e8;
	border-color: #f0ad4e;
}
.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #5bc0de;
}
.verify_string {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	
	font-size: 22px;
	font-weight: bold;
}
.user_form {
	width: 500px;
	margin: 0 auto;
}
.attribute {
	font-weight: bold;
}
.navigation {
	height: 50px;
	position: fixed;
	z-index: 100;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	border-bottom: 2px solid #428bca;
}
#myCarousel {
	margin-bottom: 60px;
}
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.content-wrapper {
	margin-top: 0px;
	background: #fff !important;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	left: 10%;
}
#wrapper {
	position: relative;

}
.title-wrapper {
	padding-top: 130px;
}
.daily_ribbon {
	background: url("../img/quests/daily.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.ribbon_1 {
	background: url("../img/quests/random.png");
	background-position: 123px 0px;
	background-repeat: no-repeat;
}
.ribbon_2{
	background: url("../img/quests/choose.png");
	background-position: 123px 0px;
	background-repeat: no-repeat;
}





/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	background: #fff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 51px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}
.carousel-inner > .item > img {
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {

  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}