body, html {
	margin: 0;
	padding: 0 !important;
	height: 100%;
    width: 100%;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px !important;
	background: #232323 !important;
}
h3 {
	margin-top: 0 !important;
}
#top {
	width: 100%;
	height: 40px;
	background: #000;
	color: #a8a8a8;
	position: fixed;
}
#top .content {
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 40px;
}
#top .content a {
	color: #fff;
	text-decoration: none;
}
#navigation {
	background: #414141 !important;
	color: #fff;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	font-size: 14px;
}
#navigation ul {
	margin: 0;
	padding: 0;
}
#navigation ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	height: 100%;
	width: 100%;
}
#navigation ul li {
	height: 50px;
	line-height: 50px;
	border-right: 1px solid #333333;
	float: left;
	list-style: none;
}
#navigation ul li:hover {
	background: #232323;
}
#banner_1 {
	right: 0;
	margin-top: 0px;
	position: absolute;
	width: 940px;
	height: 210px;
	background: #fff;
}
.banner_1 {
	margin: 0 auto;
	width: 728px;
}
.rec_banner {
	margin-left: -10px;
}
#banner_2 {
	right: -160px;
	margin-top: 0px;
	position: absolute;
	width: 200px;
	height: 600px;
	background: #fff;
}
.navigation_wrapper {
	background: #333333;
}
.recent_activity {

}
.friends_list tbody tr td {
	height: 30px;
	line-height: 30px !important;
}
.timeline-table td {
	font-size: 12px;
	height: 50px;
	line-height: 50px;
}
.timeline_quest{
	padding-top: 15px !important;
}
.achievement {
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-right: 5px;
}
.sidebar_social {
	width: 295px;
}
.moneymaker {
}
.forum_category {
	border: 1px solid #333333;
	margin-bottom: 30px;
}
.admin_user {
	background: #428bca;
	padding: 3px;
	color: #fff;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.forum_badge {
	background: #529551;
	padding: 3px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.api_lag {
	margin-top: 20px;
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background: #ffffff;
	color: #333333;
}
.api_lag h4 {
	margin-top: 5px;
	font-weight: bold;
}
.forum_title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	font-size: 14px;
	margin-bottom: 15px;
}
.delete_all_notes a {
	color: #999999 !important;
	display: block;
	text-decoration: none !important;
	font-size: 10px !important;
	text-align: right;
	height: 16px;
	line-height: 16px;
	margin-top: -10px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px !important;
	border-bottom: 1px solid #333333;
}
.delete_all_notes a:hover {
	color: red !important;
}
.game_details {
	border: 1px solid #dddddd;
	border-top: 0;
	margin-bottom: 10px;
}
.game-win {
	border-left: 3px solid green;
}
.game-loss {
	border-left: 3px solid red;
}
.game_detail_toggle {
	display: none;
}
.q_done {
	background: green;
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	line-height: 92px;
	text-align: center;
	height: 92px;
	width: 92px;
}
.quest_finish {
	width: 650px;
	background: rgba(255,255,255,0.8);
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
	margin: 0 auto;
	margin-bottom: 50px;
}
.league_info {
	margin-left: 15px;
	font-style: italic;
	right: 0;
}
.forum_headline {
	background: #333333;
	color: #fff;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}
.search  {
	width: 307px;
	height: 50px;
	background: #232323;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.lolquest_video {
	padding-top: 20px;
}
.tab-pane {
	padding-top: 25px;
}
.lolquest_video img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.5);
}
.lolquest_description {
	line-height: 20px;
}
.bullet {
	width: 120px;
	float: left;
}
.bullet_desc {
	text-align: left;
	width: 490px;
	float: left;
}
.info_bullet {
	margin-bottom: 25px;
}
.bullet_desc h2 {
	margin-top: 0;
}
a.comment_name {
	font-weight: bold;
}
.blog_picture {
	float: left;
	width: 150px;
}
.blog_overview {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #bbbbbb;
}
.blog_content {
	width: 660px;
	margin-left: 15px;
	float: left;
	line-height: 20px;
}
.blog_content h4 {
	margin-top: 0;
	margin-bottom: 2px;
}
.blog_date {
	border-top: 1px solid #bbbbbb;
	padding: 5px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 15px;
}
.blog_post {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 15px;
}
.comment {
	border-bottom: 1px solid #bbbbbb;
	padding: 5px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.comment_time {
	margin-top: 10px;
	font-size: 10px;
	color: #bbbbbb;
}
.comment_text {
	margin-top: 5px;
	line-height: 20px;
}
.background {
	background: url("../img/blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	padding-top: 130px;
	padding-bottom: 90px;
	height: 100%;
}
.challenge_tropy_open {
	float: left;
	filter: alpha(opacity=30);
	opacity: 0.3;
	margin-right: 10px;
}
.challenge_tropy_finished {
	float: left;
	filter: alpha(opacity=100);
	opacity: 1;
	margin-right: 10px;
}
.transactions {
	font-size: 12px;
}
.champions_finished {
	margin: 0;
	padding: 0;
}
.new_notifications {
	color: #fff;
	background: red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
.champions_finished li {
	float: left;
	list-style: none;
	margin-bottom: 5px;
	margin-left: 5px;
}
.game_kda {
	font-size: 12px;
}
.progress-bar {
	color: #414141 !important;
}
.navigation .progress {
	height: 10px !important;
}
.quest_avatar {
	margin-right: 3px;
	margin-bottom: 3px;
}
a.cancel, a.cancel:hover {
	color: red;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.champion_stats {
	font-size: 12px;
}
.product_skin {
	position: relative;
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
	height: 300px;
	margin-bottom: 10px;
}
.skin_description {
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: rgba(0,0,0,0.4);
	bottom: 10px;
	margin-left: -10px;
}
.skin_description h3 {
	color: #fff;
}
.fullwidth_box {
	width: 100%;
	background: #fff;
}
.fullwidth_box_grey {
	width: 100%;
	background: #f7f7f9;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e8;
}
.landingpage_teaser {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	text-shadow: 1px 1px 8px #000000;
	padding-bottom: 50px;
}
.logo {
	margin-right: 40px;
}
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.daily_ribbon .clock {
	background: #b9b9b9;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333333;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
.logo {
	float: left;
	color: #fff;
	height: 50px;
	line-height: 50px;
}
.list {
	float: right;
	height: 50px;
	line-height: 50px;
}
.list ul {
	margin: 0;
	padding: 0;
}
.list ul li {
	float: right;
	list-style: none;
	color: #333;
	height:48px;
	line-height: 48px;
	border-left: 1px solid #b9b9b9;
	text-align: center;
}
.list ul li a .glyphicon {
	margin-top: 16px;
}
.list ul li:first-child {
	border-right: 1px solid #b9b9b9;
}
.list ul li a {
	height:48px;
	padding: 0 15px 0 15px;
	display: block;
	width: 100%;
	color: #333;
}
.list ul li a:hover {
	background: #eeeeee;
	text-decoration: none;
}
.sidebar {
	background: #414141;
	padding-right: 0 !important;
	color: #fff;
	border-left: 1px solid #b9b9b9;
	-webkit-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.5);
}
.sidebar a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
.logged_in {
	margin-top: 20px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
}
.sidebar_input {
	background: #232323;
	color: #999999;
	border: 1px solid #333333;
	width: 280px;
	height: 40px;
	padding: 5px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 14px;
}
.sidebar_button {
	margin-top: 10px;
	background: #eeeeee;
	color: #333;
	border: 1px solid #000;	
}
.sidebar_headline {
	width: 307px;
	background: #232323;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 10px;
	margin-left: -10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #333333;	
	border-top: 1px solid #333333;
}
.daily_headline {
	color: #fff;
}
.uppercase {
	text-transform: uppercase;
}
.small {
	font-size: 10px;
}
.sidebar_box {
	font-size: 12px !important;
	margin-left: -5px;
	padding-bottom: 15px;
}
.search {
	padding-top: 8px;
	padding-right: 10px;
	float: right;
}
.search_field {
	float: left;
}
.search_summoner_name {
	width: 200px !important;
	background: #232323 !important;
	color: #ffffff !important;
	border: 0px solid #414141 !important;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px !important;
}
.search_icon {
	color: #fff !important;
	padding-left: 10px;
	font-size: 12px;
	padding-top: 9px;
}
.btn-dark {
	background: #232323;
	border: 1px solid #414141 !important;
	color: #999999;
}
.title h1 {
	color: #333333;
	margin-top: 0;
	margin-bottom: 0px;
	margin-top: 15px;
	font-size: 28px;
}
.change_avatar {
	font-size: 12px;
}
a.logout {
	color: red;
}
.bullets {
	margin-top: 50px;
	margin-bottom: 50px;
}
.avatar, .name {
	float: left;
}
.avatar {
	margin-right: 5px;
}
.quests {
	color: #428bca !important;
	font-weight: bold !important;
}
.bullet {
	text-align: left;
}
.clear {
	clear: both;
}
.register_form {
	float: right;
	width: 450px;
	margin-bottom: 15px;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #fff;
	border: 1px solid #e1e1e8;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.register_form input, .register_form select {
	margin-bottom: 10px;
}
.hexa_logo, .hexa_text {
	float: left;
	
}
.hexa_logo, .hexa_text .title {
	-webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.75));
	filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.75));
}
.hexa_text {
	margin-top: 15px;
	margin-left: 25px;
}
.unread_notifications {
	position: absolute;
	background: #428bca;
	height: 15px;
	line-height: 15px;
	width: 15px;
	margin-left: 10px;
	margin-top: 8px;
	color: #fff;
	text-align: center;
	top: 0;
	left: 0;
	font-size: 10px;
}
.list ul li:hover ul {
	display: block;
	position: absolute;
}
.list ul li:hover ul li {
	clear: both;
}
.list ul li:hover ul li:hover {
	background: #eeeeee;
}
.notifications_list {
	margin: 0;
	color: #999999;
	padding: 0;
	padding-right: 10px;
}
.note_icon {
	width: 20px;
	color: #999999;
	float: left;
}
.note_message {
	float: left;
	width: 260px;
}
.delete_node {
	float: left;
}
.delete_node a {
	color: red !important;
}
.faq {
	font-size: 12px;
}
.notifications_list li {
	border: 0;
	border-bottom: 1px solid #333333;
	color: #999999;
	height: auto;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	line-height: 16px;
	list-style: none;
	font-size: 12px;
}
.notifications_list li a {
	color: #999999;
	text-transform: none;
}
.notifications_list li a:hover {
	color: #fff;
	text-decoration: none;
}
.questtext {
	height: 50px;
}
.quest {
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
	height: 360px;
	margin-bottom: 10px;
	font-size: 12px;
}
.daily_quest {
	padding: 5px;
	color: #fff !important;
}
.daily_quest table {
	width: 98%;
}
.quest_description {
	font-size: 10px;
}
.daily_reward {
	margin-top: 5px;
	font-size: 11px;
	color: #999999;
}
.accept_daily {
	text-align: right;
}
.product {
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding: 10px;
	height: 260px;
	margin-bottom: 10px;
}
.product_description {
	height: 80px;
	font-size: 12px;
}
.quest:hover {
}
.inactive_quest_slot {
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.myquests {

}
.quest_amount {
	margin-bottom: 20px;
	font-size: 12px;
}
.maxquests {
	padding-top: 20px;
	background: url("../img/slots/slot_background.jpg");
}
.empty_quest {
	padding-top: 20px;
	background: url("../img/slots/slot_background_vi.jpg");
}
.quest h3 {
	margin-top: 15px !important;
}
.product h3 {
	margin-top: 15px !important;
}
.quest a.btn {
	width: 155px;
}
.challenge {
	font-size: 12px;
	line-height: 20px;
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
.challenge_sidebar {
	text-align: center;
}
.payment-table {
	font-size: 12px;
}
.navigation_natifications {
	position: relative;
}
.quest_select_champion {
	width: 100%;
	margin-bottom: 15px;
}
.sidebar_questtext {
	font-size: 11px;
	color: #999999;
}
.sidebar_questlist {
	width: 100%;
}
.sidebar_questlist tr td {
	border-bottom: 1px solid #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	padding-left: 5px;
	color: #999999;
}
.view_ladder {
	width: 100%;
	text-align: right;
}
.summoner_avatar {
	position: relative;
	display:block;
}
.summoner_avatar .border {
	position:absolute;
	top: 0;
	left: 0;
}
.profile_avatar {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.profile td {
	font-size: 12px;
}
.profile_season_stats {
	width: 290px;
	margin-left: 10px;
	overflow: auto;
	height: 210px;
	border: 1px solid #dddddd;
	border-top: 0;
}
.buy_qp {
	background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
	background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #b92c28;
	color: #fff;
	border-radius: 4px;
}
.buy_qp:hover {

}
.buy_qp a {
	color: #fff;
}


 
/* Themes for different contexts */
.bs-callout-success {
	background-color: #a0df8f;
	border-color: #287215;
}
.bs-callout-danger {
	background-color: #f6b2b0;
	border-color: #d9534f;
}
.bs-callout-warning {
	background-color: #fff9e8;
	border-color: #f0ad4e;
}
.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #5bc0de;
}
.verify_string {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 22px;
	font-weight: bold;
}
.user_form {
	width: 500px;
	margin: 0 auto;
}
.attribute {
	font-weight: bold;
}
.navigation {
	height: 50px;
	position: fixed;
	z-index: 100;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 14px -9px rgba(0,0,0,0.75);
	border-bottom: 2px solid #428bca;
}
#myCarousel {
	margin-bottom: 60px;
}
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.content-wrapper {
	margin-top: 0px;
	background: #fff !important;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
#wrapper {
	position: relative;
	background: url("../img/new_background.jpg") #232323;
	background-position: center 30px;
	background-repeat: no-repeat;
	min-height: 700px;
}
.skin_left {
	color: #fff;
	width: 400px;
	height: 700px;
	background: url("http://images.lolquest.net/skins/left/default_left.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	margin-top: 50px;
	margin-left: -985px;
}
.skin_right {
	position: absolute;
	color: #fff;
	width: 400px;
	height: 700px;
	background: green;
	background: url("http://images.lolquest.net/skins/left/default_right.png");
	background-repeat: no-repeat;
	right: 50%;
	margin-top: 50px;
	margin-right: -985px;
}
.title-wrapper {
	position: relative;
	padding-top: 50px;
}
.group_ribbon {
	background: url("../img/quests/group.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.daily_ribbon {
	background: url("../img/quests/daily.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.ribbon_1 {
	background: url("../img/quests/random.png");
	background-position: 123px 0px;
	background-repeat: no-repeat;
}
.ribbon_2{
	background: url("../img/quests/choose.png");
	background-position: 123px 0px;
	background-repeat: no-repeat;
}
#footer {
	margin-bottom: 25px;
}
#footer ul {
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
#footer ul li {
	float: left;
	list-style: none;
	margin-right: 15px;
}
#footer ul li a {
	color: #fff;
	text-decoration: none;
}
.row {
	font-size: 12px !important;
}
.timeline_link {
	border-top: 1px solid #333;
}
a.remove {
	color: red !important;
}
.login_form {
	background: url("../img/login_background.jpg") #fff;
	height: 600px;
	text-align: center;
	padding-top: 100px;
}
.quest_done_background {
	background: url("../img/login_background.jpg") #fff;
	height: 600px;
	padding-top: 100px;
}
.inner_login {
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	width: 400px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}
.login_form h1 {
	margin-top: 0;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	background: #fff;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 51px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}
.carousel-inner > .item > img {
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {

  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}